body {
    margin: 0;
    font-family: 'Tahoma', sans-serif;
}
h1,h2 { margin: 0 0 0.25rem; }

tv-demo:not([ez-binded]),
ez-alpine-demo:not([ez-binded])
{
    overflow: hidden; display: flex; align-items: center; justify-content: center;
}

.container {
    display: flex; gap: 1rem; flex-direction: column;
    max-width: 600px; margin: 0 auto;
}
